@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 13px;
	line-height: 20px;
}
/* Hides from IE-mac \*/
* html .clearfloat {
	height:1%;
}
*+html .clearfloat {
	height:1%;
}
.clearfloat {
	display:block;
}
/* End hide from IE-mac */

/*Clear*/

.clearfloat:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfloat {
	display: inline-block;
}
/* General Typography */

H1 {
	font-size:24px;
	color: #222;
	padding-bottom: 5px;
}  /* displayed at 24px */
H2 {
	font-size:18px;
	color: #222;
}  /* displayed at 18px */
H3 {
	font-size:15px;
	color: #222;
}  /* displayed at 15px */
H4 {
	font-size:14px;
	color: #222;
}  /* displayed at 12px */
p {
	font-size: 13px;
}

a {
	font-size: 13px;
	font-weight: bold;
	color: #39C;
	text-decoration: none;
}
a:link {
	text-decoration: none;
	color: #39C;
}
a:visited {
	text-decoration: none;
	color: #39C;
}
a:hover {
	text-decoration: underline;
	color: #369;
}
.right {
	float:right;
}
.left {
	float:left;
}
.textright {
	float:right;
}
.textleft {
	float:left;
}

/* Header */

#header { background: #fff;}

/* Content */

#content { background: #fff; padding: 20px 0px;}

/* Footer */

#footer { background: #ccc; height: 200px;}

/* Navigation */

#navbar {
	margin: 0;
	padding: 0;
	height: 41px;
	background-color: #fff;
	border-bottom: 1px #ccc solid;
	border-top: 1px #ccc solid;
	padding: 0px 20px;
	position: relative;
	z-index: 10;
}
#navbar li {
	list-style: none;
	float: left;
}
#navbar li a {
	display: block;
	padding: 3px 20px;
	color: #555;
	text-decoration: none;
	margin: 7px;
}
#navbar li a:hover {
	background-color: #ddd;
	border-radius: 5px;
	moz-border-radius: 5px;
}

#navbar li ul {
	display: none;
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 7px;
	moz-border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	moz-border-bottom-right-radius: 7px;
}
#navbar li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
}
#navbar li:hover li {
	float: none;
}
#navbar li:hover li a {
	background: #fff;
	border-bottom: 1px dotted #fff;
	padding: 5px 10px;
	color: #555;
}
#navbar li li a:hover {
	background-color: #eee;
}
#navbar #currentpage a {
	background-color: #eee;
	border-radius: 5px;
	moz-border-radius: 5px;
} /* Downstate for current navigation page */
#navbar #currentpage li a {
	background-color: #fff;
}  /* Child nav for current navigation page */
#navbar #currentpage li a:hover {
	background-color: #eee;
}  /* Child nav hover for current navigation page */
